* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('bg-css.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .welcome-container {
    text-align: center;
  }
  
  .welcome-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px #3e8e41;
  }
  
  .choice-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .choice-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding: 15px 50px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }
  
  .choice-btn:hover {
    background-color: white;
    color: #4CAF50;
    box-shadow: 2px 2px #3e8e41;
  }
  